<div class="postFlexWrapper" data-value={{id}}>
    <div class="post">
        <div class="postTitle">{{title}}</div>
        <div class="postContent">
            <div class="postAuthor">{{author}} -&nbsp;</div>
            <div class="postDate">{{date}}</div>
        </div>
    </div>
</div>