<body>
    <div class="about" id= "pageContent">
        <h1>About Us</h1>
        <hr>
        <h2>Timothy E. Hennessy</h2>
        <p>- 36 years with Gene Kiel & Associates</p>
        <p>Tim has lived and worked in Corvallis since his graduation from OSU. As an involved member of the community Tim provides particular value to clients in Linn, Benton and Lincoln Counties – by virtue of being here as well as his extensive medical provider association. Tim’s list of clients has successfully grown along with his expertise in all lines of employee benefits including medical, dental, vision, Rx, life, disability and retirement planning. Tim and his wife, Kristine live in Corvallis with their three sons.</p>
        <h2>Peg Honyak</h2>
        <p>- 9 years with Gene Kiel & Associates</p>
        <p>Peg was with Northwestern Mutual Life for ten years before joining Regence BlueCross BlueShield of Oregon where she was for 17 years. At Regence Peg was responsible for the sales and servicing of large groups (both private and public) throughout the State of Oregon. The final two years with Regence were spent as Director of Sales for Associated Administrators, Inc. – the Regence TPA (Third Party Administrator). Working for a TPA provided invaluable experience and knowledge relating to the world of alternative funding; the need to focus on accurate and timely processing of claims; and in offering the best in class vendors to clients. Peg and her husband, Jim live in Salem with their son.</p>
        <br>
    </div>
</body>