<body>
    <h1 class="cntr">Gene Kiel & Associates Employees</h1>
    <hr>
    <div class="ReformPage">
        <h1>Timothy E. Hennessy</h1>
        <h2>- 36 years with Gene Kiel & Associates</h2>
        <ul>
            <li>Tim has lived and worked in Corvallis since his graduation from OSU.</li>
            <li>As an involved member of the community Tim provides particular value to clients in Linn, Benton and Lincoln Counties – by virtue of being here as well as his extensive medical provider association.</li>
            <li>Tim’s list of clients has successfully grown along with his expertise in all lines of employee benefits including medical, dental, vision, Rx, life, disability and retirement planning.</li>
        </ul>
        <h1>Peg Honyak</h1>
        <h2>- 9 years with Gene Kiel & Associates</h2>
        <ul>
            <li>Peg was with Northwestern Mutual Life for ten years before joining Regence BlueCross BlueShield of Oregon where she was for 17 years.</li>
            <li>At Regence Peg was responsible for the sales and servicing of large groups (both private and public) throughout the State of Oregon.</li>
            <li>The final two years with Regence were spent as Director of Sales for Associated Administrators, Inc. – the Regence TPA (Third Party Administrator).</li>
            <li>Working for a TPA provided invaluable experience and knowledge relating to the world of alternative funding; the need to focus on accurate and timely processing of claims; and in offering the best in class vendors to clients.</li>
        </ul>
        <h2>Our Office Address & Fax Information</h2>
        <p>Address:<p>
        <ul>
            <li>Gene Kiel & Associates</li>
            <li>226 SW 7th Street</li>
            <li>Corvallis, OR 97333</li>
        </ul>
        <p>Information:</p>
        <ul>
            <li>Fax: 541-752-2344</li>
            <li>Phone: 541-752-3452</li>
            <li>Peg Honyak: peg@gkassociates.net</li>
        </ul>
    </div>

</body>