<body class="container">
    <h1 class="cntr">Tax Credits for Business</h1>
    <hr>
    <h2>I have a business with fewer than 50 eligible employees</h2>
    <p>Starting October 1, 2013 (for effective dates of January 1, 2014 and thereafter) we will be able to assist you in finding the right fit for you and your employees in TWO ways. In addition to quoting and evaluating all carriers doing business in the State of Oregon (like we do today) we will be able to shop Cover Oregon (the exchange) on your behalf. At the end of the process you will have clear and concise options to choose from. Whether you purchase your group plan in our out of the exchange, you will have our years of expertise to help make sense of it all. And, once you make your decision, we will make the complex easy to understand for your employees.</p>
    <h2>Your business may be eligible for tax credits</h2>
    <p>Businesses with fewer than 25 employees, that purchase through Cover Oregon, may be eligible for tax credits to help pay for employees' coverage. Starting in 2014, the tax credit covers up to 50% of premium costs for taxable organizations and up to 35% for tax-exempt organizations. To qualify, you must:</p>
    <ul>
        <li>Provide health insurance to your employees</li>
        <li>Pay at least 50% of employee-only health insurance premium</li>
        <li>Pay average annual wages of less than $50,000</li>
    </ul>
    <p>Visit <a href ="www.irs.gov">www.irs.gov</a> for more information or consult your tax advisor.</p>
    
</body>