<body>
    {{#if contactHome}}
    <script src="/contact.js" charset="utf-8" defer></script>
    <div class="postParent">
        <div id="addPost">Add Post</div>
        {{#each forumData}}
            {{> post}}
        {{/each}}
    </div>

    <div id="modalBackdrop" class="hideModal"></div>
        <form id="addPostModal" class="hideModal" action="addPost" method="post">
        <div class="modalDialog">
            <button type="button" id="modalCloseButton">&times;</button>
            <div class="modalBody">
            <div class="modalInputElement">
                <label for="title">Title</label>
                <input type="text" id="modalTitleInput" name="title" />
            </div>
            <div class="modalInputElement">
                <label for="question">Question</label>
                <textarea id="modalTextInput" name="text"></textarea>
            </div>
            <div class="modalInputElement">
                <label for="author">Author</label>
                <input type="text" id="modalAuthorInput" name="author"/>
            </div>
            </div>

            <div class="modal-footer">
            <button type="button" id="modalCancelButton">Cancel</button>
            <button type="submit" id="modalAcceptButton">Create modal</button>
            </div>
        </form>
    </div>
    {{/if}}

    {{#if contactSubpage}}
    <div class="questionFlexWrapper">
        <div class="question">
            <div class="questionTitle">{{this.post.title}}</div>
            <div class="questionAuthor">{{this.post.author}} - {{this.post.date}}</div>
            <div class="questionText">{{this.post.text}}</div>
        </div>
        {{#each this.post.comments}}
            {{> comment}}
        {{/each}}
        <div class="addComment">
            <textarea class="addCommentText" placeholder="Your answer..."></textarea>
            <button class="addCommentButton">Comment</div>
        </div>
    </div>
    {{/if}}

</body>