<body onload="initSlides()">
    <div class="slideshow-container container-fluid" onload="showSlides()">
        <div class="slides">
            <img class="urls" src="./res/Weatherford_Hall_header.jpg" style="width:100%">
        </div>

        <div class="slides">
            <img class="urls" src="./res/Corvallis2_header.jpg" style="width:100%">
        </div>

        <div class="slides">
            <img class="urls" src="./res/OregonCoast_header.jpg" style="width:100%">
        </div>

        <div class="logo">
            <div>
                <div class="content">
                    <a href="/" title="Gene Kiel & Associates">
                        <div>GKA</div>
                        Gene Kiel &amp; Associates
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>