<body class="container">
    <h1 class="cntr">Tax Credits</h1>
    <hr>
    <h2>Do I qualify for tax credits?</h2>
    <ul>
        <li>If your employer does not offer health insurance.</li>
        <li>If you do not receive a Medicare benefit; and</li>
        <li>If your family does not make more than the yearly income (view chart above).</li>
    </ul>
    
    <p>Note: tax credits are only available to individuals who purchase their health insurance through Cover Oregon (the exchange).</p>
    
    <h2>How much assistance will I receive?</h2>
    <p>The amount of the tax credit you receive depends on your family income and your family size. Click the calculator to go to Cover Oregon to estimate how much you may qualify for.</p>
    
    <h2>How do I take the tax credit?</h2>
    <p>Take the tax credit now:</p>
    <ul>
        <li>Choose to take the maximum tax credit each month (or take a part of it) to pay lower premiums each month in 2014</li>
        <li>You will receive a statement from Cover Oregon showing how much tax credit you received in 2014</li>
        <li>File your 2014 taxes, including information about the tax credit you have already taken</li>
    </ul>
    <p>Take the tax credit later:</p>
    <ul>
        <li>Choose the minimum monthly tax credit ($0) - and pay the full premium each month in 2014</li>
        <li>You will receive a statement from Cover Oregon showing how much tax credit you received in 2014 ($0)</li>
        <li>File your 2014 taxes and subtract your tax credit from the tax you owe (or get a bigger refund if you owe nothing)</li>
    </ul>
    <p>Do a combination of the two (take some of the allowable tax credit) and settle up when you file your 2014 taxes!</p>
    <h1 class="cntr">Other Ways to Get Financial Help</h1>
    <h2>Cost-Sharing Assistance</h2>
    <p>If you buy a plan through Cover Oregon, you may also qualify for help paying for your portion of the cost of health care services. For example, you have a $100 medical bill, your plan might pay $80 and you would be responsible for the remaining $20. If you qualify for cost sharing you may get help paying your $20. Simply put, if you qualify for cost-sharing assistance, your plan will have lower deductibles, copayments and coinsurance.</p>
    <ul>
        <li><b>Who Qualifies for this Assistance?</b> You might qualify if you are an individual earning up to $29,275 a year or a family of six earning up to $78,975. You might qualify for both tax credits to help you afford your premiums (bullet numbers 1, 2 & 3) and cost sharing to pay your portion of the medical expenses.</li>
    </ul>
</body>