<body>
    <div class="lifeDisabilityContent" id= "pageContent">
        <p><br><span>Gene Kiel & Associates</span> can assist you with your individual or business Life & Disability Insurance needs. </p> 
        <p> Let us help you choose the option that is right for you. </p>
        <p>&nbsp;</p>
        <p> Call us today at (541) 752-3452 </p>
        <p> or </p>
        <p> Send an email to <a href="mailto:peg@gkassociates.net" title= "Content Peg Honyak">Peg Honyak </a><br></p>

    </div>
</body>