* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

@media (max-width:1050px) { 
    
    .slideshow-container {
        display: none;
    }
}

body {
    margin-top: 100px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    padding: 0;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    height: 410px;
}

/* Hide the slides by default */
.slides {
    display: none;
}


.logo {
    position: absolute;
    top: 6%;
    left: 20px;
    z-index: 30;
}

.logo > div {
    display: table-cell;
    position: relative;
    height: 316px;
    line-height: normal;
    font-size: 2em;
    text-shadow: 0 2px 5px #000;
    vertical-align: middle
}

.logo .content a {
    display: block;
    padding: 5px 10px;
}

.lt-ie8 .logo .content a {
    position: absolute;
    top: 90px;
}

.logo .content a > div {
    font-size: 5em;
    margin: 0 0 -22px -6px
}

.logo .content a:hover {
    text-decoration: none
}

#searchbutton {
    border: none;
    top: 16px;
    background: none;
    font-size: 17px;
    outline: none;
}

#searchbutton:hover {
    color: lightblue;
}

#navbar-search-input {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    position: relative;
    background: lightgrey;
    padding: 3px;
    top: 10px;
}

/* Contact Us Page Styles */
.postParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.postFlexWrapper {
    background: #e7e7e7;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    width: calc(100% - 40px);
    max-width: 1000px;
    border: 1px solid #d3d3d3;
    padding: 0 25px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.postTitle {
    font-size: 24px;
    flex: 1;
}

.postTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.postText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.postContent {
    display: flex;
}

.postDate {

}

.postAuthor {
    

}

.postIcon {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.postIcon svg:hover {
    cursor: pointer;
    fill: #606060;
}

.postEditIcon {
    margin-right: 10px;
    margin-left: auto;
}

.postDeleteIcon {

}

#addPost {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    width: calc(100% - 40px);
    max-width: 1000px;
    background: #E6E6E6;
    border: 1px solid #d3d3d3;
    color: #424242;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}

#addPost:hover {
    background: #d3d3d3;
}
  
#modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
#addPostModal {
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: auto;
}

.hideModal {
    display: none;
}

.modalDialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modalHeader {
    position: relative;
    padding: 10px 20px;
}

.modalHeader h3 {
    margin: 0;
    font-size: 28px;
}

#modalCloseButton {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modalBody {
    padding: 20px;
}

.modalInputElement {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.modalInputElement label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.modalInputElement input,
.modalInputElement textarea {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}

.modalInputElement textarea {
    min-height: 64px;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

.modalFooter button {
    font-size: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.modalFooter #modalCancelButton:hover {
    background-color: #eee;
}

.modalFooter #modalAcceptButton {
    background-color: #319df6;
    color: #fff;
}

.modalFooter #modalAcceptButton:hover {
    background-color: #087dde;
}

/* Post */
.questionFlexWrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.question {
    width: 60%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    padding: 20px;
    border: 1px solid #d3d3d3;
}

.questionTitle {
    font-size: 24px;
}

.questionAuthor {
    font-size: 16px;
}

.questionText {
    margin-top: 20px;
}

.comment {
    width: 60%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    padding: 20px;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
}

.commentAuthor {
    font-size: 16px;
}

.commentText {
    margin-top: 10px;
}

.addComment {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 800px;
    margin-top: 20px;
    align-items: flex-end;
}

.addCommentText {
    align-self: stretch;
    padding: 5px;
    height: 80px;
}

.addCommentButton {
    margin-top: 5px;
    width: 80px;
}

@media (max-width:765px) {
    .question {
        width: 80%;
    }
    .addComment {
        width: 80%;
    }
}

#pageContent {
    text-align: center;
    font-size: 25px;
}

.servicesContent {
    text-align: center
}

/* 404 Page Styles */
.errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.reit {
    position: absolute;
    right: 0;
    text-align: left;
}

.main {
    padding-bottom: 25px;
}

.nodec {
    text-decoration: none;
    color: white;
}

.nodec :hover{
    text-decoration: none;
    color: white;
}

.cntr {
    text-align: center;
}

.transform {
    background-color:red;
}

#navbar li a:hover {
    background-color: #dedede;
}

.IndividualReformPage {
    margin-left: 35px;
    margin-right: 35px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*
#navbar li a.dropdown-toggle:focus {
    background-color: #dedede;
}
*/