* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    padding: 0;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;

}

/* Hide the images by default */
.slides {
    display: none;
}
